<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checklist Pro</title>
    <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="checklist-title"><a href="{{ url_for('home') }}"><h1>Checklist Pro</h1></a><div>
    <header>
        <div>
            <a href="{{ url_for('create_interface') }}">Créer checklist</a>
            <div class="round"></div>
            <a href="{{ url_for('checklist_choice') }}">Remplir checklist</a>
            <div class="round"></div>
            <a href="{{ url_for('history') }}">Historique</a>
        </div>
    </header>

    <main>
        <div id="content"> {% block content %}{% endblock %}</div>
    </main>
</body>
</html>